{% extends 'tweet/base.html' %}
{% load static %}

{% block content %}

    <!-- middle colulmn start -->
    <div class="w-full py-0 border border-t-0 border-b-0 ">

        <!-- middle column header start -->
        <div id="homeNavbar" class="middle-column-header border border-t-0 border-r-0 bg-white border-l-0">
            <div class="inner px-3 py-3">
                <div class="flex">
                    <div class="w-1/2">
                        <div class="inner">
                            <a href="" class="text-xl font-bold text-black">Home</a>
                        </div>
                    </div>
                    <div class="w-1/2">
                        <div class="inner text-right relative">
                            <span
                                class="magic-icon w-10 twitter-color right-0 top-0 absolute rounded-full cursor-pointer p-2 transition-3 twitter-light-blue-on-hover">
                                <svg
                                    viewbox="0 0 24 24"
                                    class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                    <g>
                                        <path
                                            d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"></path>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- middle column header end -->

        <div class="hr-bar">
            <hr class="block h-3 w-full">
        </div>

        {% for post in posts %}
            <!-- tweets wrapper start -->
            <div class="tweets-wrapper">
                <div class="innner">

                    <!-- tweet start -->
                    <div
                        class="tweet cursor-pointer hover:bg-gray-100 transition-3 border border-l-0 border-r-0 border-t-0 p-4 pb-0">
                        <div class="flex">
                            <div class="w-auto">
                                <!-- tweet user img start -->
                                <div class="tweet-user-img">
                                    <span class="w-12 rounded-full overflow-hidden mr-2">
                                        <img
                                            src="https://pbs.twimg.com/profile_images/1132064597693870080/JlGuTeQt_bigger.png"
                                            alt="tweet user image">
                                    </span>
                                </div>
                                <!-- tweet user img end -->
                            </div>
                            <div class="w-full">
                                <!-- tweet tweet start -->
                                <div class="tweet-tweet">
                                    <!-- tweet info bar start -->
                                    <div class="tweet-info-bar flex items-center">
                                        <a href="#" class="hover:underline text-gray-900 font-bold text-base mr-1">{{ post.author }}</a>
                                        <span class="text-gray-600 text-base font-light tracking-wide">@BarristerSecret</span>
                                        <span class="inline-block ml-1">·</span>
                                        <span class="text-gray-600 text-base font-light tracking-wide inline-block ml-1">3h</span>
                                    </div>
                                    <!-- tweet info bar end -->
                                    <!-- tweet detail start -->
                                    <div class="tweet-detail">
                                        <p>
                                            {{ post.contenet }}
                                            <a class="font-semibold" href="##MondayMotivation">#MondayMotivation</a>
                                        </p>
                                    </div>
                                    <!-- tweet detail end -->

                                    <!-- tweet footer start -->
                                    <div class="tweet-footer pt-1">
                                        <div class="inner flex">

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper comment text-gray-600">
                                                    <span class="ficon comment rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        3
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper retweet text-gray-600">
                                                    <span class="ficon retweet rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        32
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper like text-gray-600">
                                                    <span class="ficon like rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        123
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper send text-gray-600">
                                                    <span class="ficon send rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"></path>
                                                                <path
                                                                    d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <!-- <span class="px-1 inline-block ficon-text font-normal"> 3 </span> -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- tweet footer end -->
                                </div>
                                <!-- tweet tweet end -->
                            </div>
                        </div>
                    </div>
                    <!-- tweet end -->

                    <!-- tweet start -->
                    <div
                        class="tweet cursor-pointer hover:bg-gray-100 transition-3 border border-l-0 border-r-0 border-t-0 p-4 pb-0">
                        <div class="flex">
                            <div class="w-auto">
                                <!-- tweet user img start -->
                                <div class="tweet-user-img">
                                    <span class="w-12 rounded-full overflow-hidden mr-2">
                                        <img
                                            src="https://pbs.twimg.com/profile_images/827084890646704130/oMsbc3kG_bigger.jpg"
                                            alt="tweet user image">
                                    </span>
                                </div>
                                <!-- tweet user img end -->
                            </div>
                            <div class="w-full">
                                <!-- tweet tweet start -->
                                <div class="tweet-tweet">
                                    <!-- tweet info bar start -->
                                    <div class="tweet-info-bar flex items-center">
                                        <a href="#" class="hover:underline text-gray-900 font-bold text-base mr-1">Afua Hirsch</a>

                                        <span class="text-gray-600 text-base font-light tracking-wide">@afuahirsch</span>
                                        <span class="inline-block ml-1">·</span>
                                        <span class="text-gray-600 text-base font-light tracking-wide inline-block ml-1">34m</span>
                                    </div>
                                    <!-- tweet info bar end -->
                                    <!-- tweet detail start -->
                                    <div class="tweet-detail">
                                        <p>
                                            good mornig. wish a successfull week to all. Look for good in every situation. ignore waht people
                                            say about you
                                            <a class="font-semibold" href="##MondayMotivation">#MondayMotivation</a>
                                        </p>
                                    </div>
                                    <!-- tweet detail end -->
                                    <!-- tweet images start -->
                                    <div class="tweet-images py-3 pb-1">
                                        <span class="inline-block rounded-lg overflow-hidden h-64 shadow">
                                            <img
                                                class="h-64 object-cover object-top w-full"
                                                src="https://pbs.twimg.com/media/EG0V0YSX4AIvTbQ?format=jpg&name=medium"
                                                alt="tweet image">
                                        </span>
                                    </div>
                                    <!-- tweet images end -->

                                    <!-- tweet footer start -->
                                    <div class="tweet-footer">
                                        <div class="inner flex">

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper comment text-gray-600">
                                                    <span class="ficon comment rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        3
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper retweet text-gray-600">
                                                    <span class="ficon retweet rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        32
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper like text-gray-600">
                                                    <span class="ficon like rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        123
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper send text-gray-600">
                                                    <span class="ficon send rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"></path>
                                                                <path
                                                                    d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <!-- <span class="px-1 inline-block ficon-text font-normal"> 3 </span> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- tweet footer end -->
                                </div>
                                <!-- tweet tweet end -->
                            </div>
                        </div>
                    </div>
                    <!-- tweet end -->
                </div>
            </div>
            <!-- tweets wrapper end -->
        {% endfor %}
    </div>
    <!-- middle colulmn end -->

{% endblock content %}